<div class="container my-3">
    <div class="row">
        {{#each books}}
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header text-center">
                    <h3>{{title}} </h3>
                </div>
                <div class="card-body">
                    <h2>{{author}}</h2>
                    <h6>{{_id}}</h6>
                </div>
                <div class="card-footer">
                    <a href="books/delete/{{_id}}" class="btn btn-danger">delete</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{@key}}">
    update
</button>
                </div>
            </div>
        </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal{{@key}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form action="books/update/{{_id}}" method="post">
                        <div class="mb-3">
                            <label for="title">Title</label>
                            <input required type="text" name="title" id="title" class="form-control" value="{{title}}">
                        </div>
                        <div class="mb-3">
                            <label for="author">Author</label>
                            <input required type="text" name="author" id="author" class="form-control" value="{{author}}">
                        </div>
                        <div class="mb-3">
                            <label for="isbn">ISBN</label>
                            <input required type="text" name="isbn" id="isbn" class="form-control" value="{{isbn}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    
        {{/each}}
    </div>
</div>
<!-- Button trigger modal -->


